{% extends "layout.html" %}

{% block title%}
    Jot Log
{% endblock %}

{% block main%}

    <h2>Jot Log</h2> 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Content</th>
                <th>URL</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.message }}</td>
                <td>{{ row.url }}</td>
                <td>{{ row.submit_date }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock%}